.navbar-inverse{
    background-color:#722872;
    font-size:20px;
    min-height: 50px;
    color:white;
  }
  .changeBgColor {
    background-color:#722872;
  }
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color:black;
  }
  .navbar-nav>.active>a:hover {
    background-color: green;
    color:green;
  }
