.navbar-inverse{
    background-color:#722872;
    font-size:20px;
    height:0px;
    color:white;
  }
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color:black;
    background-color:white;
  }