<app-menu></app-menu>

<div class="container" (submit)="Login()">
  <form class="text-center" #login="ngForm">
      <label>Email</label><input type="email" name="email" [(ngModel)]="logins.email" #email="ngModel" required>
      <br>
      <label>Password</label><input type="password" name="password" [(ngModel)]="logins.password" #password="ngModel" required> 
      <br>
      <input type="submit" value="Login" [disabled]="login.invalid">
  </form>
  <div *ngIf="check != undefined" class="text-center">
    {{check.message}}
  </div>
</div>
